---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | Steven Glass">
  <section class="section">
    <h1>About Me</h1>
    <p>
      Hi there! My name is Steven Glass, and I am currently an MSc. Candidate for Machine Learning and Artificial Intelligence
      at Stellenbosch University. 
    </p>
    <p>
      This website highlights my key interests and fields I have researched
      within the world of machine learning, which includes but is certainly not limited to
      generative and probabilistic modelling, scientific machine learning, and building technically rigorous projects
      with a clear real-world value.
    </p>
  </section>
</BaseLayout>