---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | Steven Glass">
  <section class="section about-grid">
    
    <div class="about-text">
      <h1>About Me</h1>

      <p>
        Hi there! My name is Steven Glass, and I am currently an MSc. Candidate for Machine Learning and Artificial Intelligence
        with the Applied Mathematics Department at Stellenbosch University.
      </p>

      <p>
        This website highlights my key interests and fields I have researched
        within the world of machine learning, which includes but is certainly not limited to
        generative and probabilistic modelling, scientific machine learning, and building technically rigorous projects
        with a clear real-world value.
      </p>
    </div>

    <div class="about-image">
      <img src="/images/Adelboden_smollest.jpeg" alt="Steven Glass" />
    </div>

  </section>
</BaseLayout>